<h1>{{section.settings.main-text}}</h1>


{% schema %}
  {
    "name": "SectionName",
    "settings": [
		{
			"id": "main-text",
			"type": "text",
			"label": "Enter text here"
		}
	]
  }
{% endschema %}