<h1>Hello World</h1>


{% schema %}
  {
    "name": "SectionName",
    "settings": [
		{
			"id": "main-text",
			"type": "text",
			"label": "Enter text here"
		}
	],
	"presets": [
		{
		"name": "SectionName",
		"category": "Home"
		}
	]
  }
{% endschema %}