<h1>{{section.settings.heading}}</h1>
{% assign products = section.settings.product_list %}
{% for product in products %}
	{{product.title}}
{% endfor %}

{% schema %}
    {
        "name": "Customize",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
			{
                "type": "product_list",
                "id": "product_list",
                "label": "Products",
                "limit": 12
           	}
        ]
    }
{% endschema %}