<h1>{{section.settings.heading}}</h1>


{% schema %}
    {
        "name": "Customize",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            }
        ]
    }
{% endschema %}