<h1>{{section.settings.heading}}</h1>
{% assign collections = section.settings.list %}

{% for collection in collections %}
  <img src="{{collection.image | image_url}}">
{% endfor %}


{% schema %}
    {
        "name": "Customize",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
            {
                "id": "list",
                "type": "collection_list",
                "label": "Collection List"
            }
        ]
    }
{% endschema %}