<!-- {% for collection in collections %}
  {{'collection'}}
{% endfor %} -->

<h1>{{section.settings.heading}}</h1>

{% schema %}
    {
        "name": "Customize",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
            {
                "id": "list",
                "type": "collection_list",
                "label": "Collection List"
            }
        ]
    }
{% endschema %}